// Small devices
@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
			@content;
	}
}

// Medium devices
@mixin md {
	@media (min-width: #{$screen-md-min}) {
			@content;
	}
}

// Large devices
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
			@content;
	}
}

// Extra large devices
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
			@content;
	}
}

// Extra large devices
@mixin xxl {
	@media (min-width: #{$screen-xxl-min}) {
			@content;
	}
}

// Custom devices
@mixin rwd($screen) {
	@media (min-width:( $screen + 'px' )) {
			@content;
	}
}

@mixin container($direction: row, $justify: center, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin column($count : 3){
	display: flex;
	flex: 0 0 auto;
	width : percentage( calc(1 / $count) );
}