@use '../../../styles/config.scss';

.split-pane {
	@include config.container;
	height: 100%;
	.pane{
		flex: 1;
		height: 100%;
	}
	.pane-left {
		@include config.container(column);
		flex: 2;
	}
	.pane-right{
		@include config.container;
		flex: 3;
	}
}